/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900|Open+Sans:300,400&display=swap");
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

@font-face {
  font-family: 'ProximaNova';
  src: local("fonts/ProximaNova.ttf"), url("fonts/ProximaNova.ttf") format("opentype");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
}

.container {
  max-width: 1180px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

.content__title_large {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 40px;
  line-height: 33px;
  color: #fff;
  margin-bottom: 30px;
}

.content__title_medium {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 30px;
  line-height: 33px;
  color: #fff;
}

.content__title_small {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 15px;
  line-height: 33px;
  color: #652e79;
  margin-top: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.content__subtitle {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 33px;
  color: #a87bb7;
}

.content__subtitle_small {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 33px;
  color: #7a8387;
}

.content__button {
  margin-top: 16px;
  width: 220px;
  height: 61px;
  border-radius: 3px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #58c4c4;
  text-transform: uppercase;
  font-family: "ProximaNova";
  font-weight: 900;
  font-size: 18px;
  line-height: 33px;
  color: #fff;
}

.header {
  width: 100%;
  height: 1455px;
  background: url("../img/header-background.png") center center/cover no-repeat;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.header__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 60px;
  line-height: 33px;
  color: #521a66;
}

.header__subtitle {
  font-family: "ProximaNova";
  font-weight: 600;
  font-size: 20px;
  line-height: 33px;
  color: #713a84;
}

.header__content_top {
  margin-top: 168px;
}

.header__content_bottom {
  margin-bottom: 197px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__icon {
  height: 70px;
  width: 70px;
  background: url("../img/icons/play.png") center center/cover no-repeat;
}

.benefits {
  height: 1026px;
  background: url("../img/benefits-background.png") center center/cover no-repeat;
}

.benefits__container {
  position: relative;
}

.benefits__wrapper {
  position: absolute;
  top: 160px;
  left: 0;
}

.benefits__content {
  width: 500px;
  position: absolute;
  top: 80px;
  right: 0;
}

.benefits__content_align-right {
  text-align: right;
}

.benefits__switcher {
  position: absolute;
  left: 50%;
  top: 915px;
}

.benefits__switcher_icon {
  padding: 6px;
  cursor: pointer;
  opacity: .5;
}

.benefits__switcher_icon-active {
  opacity: .2;
}

.benefits__link {
  position: absolute;
  right: 0;
  top: 915px;
  font-family: "ProximaNova";
  font-weight: 300;
  font-size: 12px;
  line-height: 33px;
  color: #713a84;
  text-decoration: none;
}

.benefits__link:hover {
  text-decoration: underline;
}

.design {
  height: 719px;
}

.design__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 584px;
  width: 100%;
  margin-top: 150px;
}

.design__container_border-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.design__container_border-right:nth-child(1) {
  padding-right: 70px;
  border-right: 1px solid #ecf0f3;
}

.design__container_border-right:nth-child(2) {
  padding-left: 70px;
}

.design__content {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: left;
  width: 530px;
}

.experience {
  height: 455px;
  width: 100%;
  background: url("../img/experience-background.png") center center/cover no-repeat;
}

.experience__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.stats {
  height: 474px;
}

.stats__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stats__content {
  max-width: 220px;
}

.social {
  height: 82px;
  background-color: rgba(37, 48, 62, 0.95);
}

.social__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__container_icons {
  padding: 0 17px;
}

.footer {
  height: 137px;
  background-color: #25303e;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__content_title {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 15px;
  line-height: 33px;
  color: #7a8387;
  margin: 47px 0 0 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.footer__content_subtitle {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 33px;
  color: #7a8387;
  margin: 47px 0 0 0;
}
/*# sourceMappingURL=main.css.map */