@font-face {
    font-family: 'ProximaNova';
    src: local('fonts/ProximaNova.ttf'), url('fonts/ProximaNova.ttf') format('opentype');
}

* {
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
}

.container {
    max-width: 1180px;
    height: 100%;
    margin: 0 auto;
    text-align: center;
}

.content {
    &__title_large {
        @include fontTransform($openSansFont, 40px, 300, $textColor);
        margin-bottom: 30px;
    }

    &__title_medium {
        @include fontTransform($openSansFont, 30px, 300, $textColor);
    }

    &__title_small {
        @include fontTransform($latoFont, 15px, 900, $smallTitleColor);
        margin-top: 0;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    &__subtitle {
        @include fontTransform($latoFont, 20px, 600, $subtitleSecondaryColor);
    }

    &__subtitle_small {
        @include fontTransform($latoFont, 16px, 600, $textDescriptionColor);
    }

    &__button {
        margin-top: 16px;
        width: 220px;
        height: 61px;
        border-radius: 3px;
        border: none;
        outline: none;
        cursor: pointer;
        background-color: $buttonColor;
        text-transform: uppercase;
        @include fontTransform($proximaFont, 18px, 900, $textColor);
    }
}