@mixin fontTransform ($font-family, $font-size, $font-weight, $color) {
    font-family: $font-family;
    font-weight: $font-weight;
    font-size: $font-size;
    line-height: 33px;
    color: $color;
}

@mixin backgroundCover ($backgroundUrl) {
    background: url($backgroundUrl) center center/cover no-repeat;
}