//Header starts
.header {
    width: 100%;
    height: 1455px;
    background: url('../img/header-background.png') center center/cover no-repeat;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    &__title {
        @include fontTransform($openSansFont, 60px, 300, $titleColor);
    }

    &__subtitle {
        @include fontTransform($proximaFont, 20px, 600, $subtitleColor);
    }

    &__content {
        &_top {
            margin-top: 168px;
        }

        &_bottom {
            margin-bottom: 197px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__icon {
        height: 70px;
        width: 70px;
        @include backgroundCover('../img/icons/play.png');
    }
}

//Header ends

//Benefits starts
.benefits {
    height: 1026px;
    @include backgroundCover('../img/benefits-background.png');

    &__container {
        position: relative;
    }

    &__wrapper {
        position: absolute;
        top: 160px;
        left: 0;
    }

    &__content {
        width: 500px;
        position: absolute;
        top: 80px;
        right: 0;

        &_align-right {
            text-align: right;
        }
    }

    &__switcher {
        position: absolute;
        left: 50%;
        top: 915px;

        &_icon {
            padding: 6px;
            cursor: pointer;
            opacity: .5;

            &-active {
                opacity: .2;
            }
        }
    }

    &__link {
        position: absolute;
        right: 0;
        top: 915px;
        @include fontTransform($proximaFont, 12px, 300, $subtitleColor);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

//Benefits ends

// Design starts
.design {
    height: 719px;

    &__container {
        display: flex;
        justify-content: space-between;
        height: 584px;
        width: 100%;
        margin-top: 150px;

        &_border-right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &:nth-child(1) {
                padding-right: 70px;
                border-right: $solidBorder;
            }

            &:nth-child(2) {
                padding-left: 70px;
            }
        }
    }

    &__content {
        height: fit-content;
        text-align: left;
        width: 530px;
    }
}

// Design ends

// Experience starts
.experience {
    height: 455px;
    width: 100%;
    @include backgroundCover('../img/experience-background.png');

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

// Experience ends

// Stats starts
.stats {
    height: 474px;

    &__container {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__content {
        max-width: 220px;
    }
}

// Stats ends

// Social starts
.social {
    height: 82px;
    background-color: rgba($color: $footerBgColor, $alpha: .95);

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;

        &_icons {
            padding: 0 17px;
        }
    }
}

// Social ends

// Footer stats
.footer {
    height: 137px;
    background-color: $footerBgColor;

    &__content {
        display: flex;
        height: 100%;
        justify-content: space-between;
        // align-items: center;

        &_title {
            @include fontTransform($latoFont, 15px, 900, $textDescriptionColor);
            margin: 47px 0 0 0;
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        &_subtitle {
            @include fontTransform($latoFont, 14px, 600, $textDescriptionColor);
            margin: 47px 0 0 0;
        }
    }
}

// Footer ends