$buttonColor: #58c4c4;
$textColor: #fff;
$textDescriptionColor: #7a8387;
$titleColor: #521a66;
$smallTitleColor: #652e79;
$subtitleColor: #713a84;
$subtitleSecondaryColor:#a87bb7;
$footerBgColor: #25303e;
$borderColor: #ecf0f3;
$solidBorder: 1px solid $borderColor;
$proximaFont: 'ProximaNova';
$openSansFont: 'Open Sans',
sans-serif;
$latoFont: 'Lato',
sans-serif;
$lightFont: 300;